{{ form_start(editProfileForm) }}
<div class="lg:flex lg:flex-row lg:justify-between items-start">
  <div class="lg:w-1/3 flex flex-col justify-center items-center">
    {% if app.user.avatar is defined and app.user.avatar is not empty %}
      <img src="{{ asset('/uploads/avatars/') ~ app.user.avatar }}"
           id="avatar"
           alt="Image de profil"
           class="object-cover h-24 w-24 lg:w-36 lg:h-36 rounded-full border-yellow-500 border-2"
           width="144"
           height="144"
      >
      {{ include('profile/_file_upload_field.html.twig') }}
    {% else %}
      <img src="#"
           id="avatar"
           alt="Image de profil"
           class="object-cover h-24 w-24 lg:w-36 lg:h-36 rounded-full border-yellow-500 border-2 z-50 hidden"
           width="144"
           height="144"
      >
      <div class="flex justify-center items-center w-24 h-24 lg:w-36 lg:h-36 rounded-full border-2 border-yellow-500 bg-gray-500 text-white p-4 lg:p-8 cursor-default"
           id="initials"
      >
        <p class="text-2xl lg:text-4xl">{{ app.user.firstName|slice(0, 1)|capitalize }} {{ app.user.lastName|slice(0, 1)|capitalize }}</p>
      </div>
      {{ include('profile/_file_upload_field.html.twig') }}
    {% endif %}
  </div>
  <div class="lg:w-2/3">
    <div class="flex flex-col lg:flex-row mb-4">
      {{ form_label(editProfileForm.firstName, null, {
        'label_attr': {'class': 'w-2/3 font-jura font-light text-2xl mr-4'
        }}) }}
      <div class="relative mx-auto w-full">
        <div class="absolute inset-y-0 flex items-center pointer-events-none">
          {% if form_errors(editProfileForm.firstName) %}
            <i class="fas fa-exclamation-circle text-red-500 w-5 h-5 pl-4"></i>
          {% else %}
            <i class="fas fa-user text-gray-500 w-5 h-5 pl-4"></i>
          {% endif %}
        </div>
        {{ form_widget(editProfileForm.firstName, {
          'attr': {
            'autocomplete': 'given-name',
            'class': 'block border-b border-gray-500 text-gray-500 bg-gray-100 pl-10 py-2 focus:border-yellow-500 focus:shadow-md focus:ring-2 focus:ring-yellow-500 w-full'
          }}) }}
      </div>
    </div>
    <div class="text-red-500 font-bold text-center lg:text-right mb-6">
      {{ form_errors(editProfileForm.firstName) }}
    </div>
    <div class="flex flex-col lg:flex-row mb-4">
      {{ form_label(editProfileForm.lastName, null, {
        'label_attr': {'class': 'w-2/3 font-jura font-light text-2xl mr-4'
        }}) }}
      <div class="relative mx-auto w-full">
        <div class="absolute inset-y-0 flex items-center pointer-events-none">
          {% if form_errors(editProfileForm.lastName) %}
            <i class="fas fa-exclamation-circle text-red-500 w-5 h-5 pl-4"></i>
          {% else %}
            <i class="fas fa-user text-gray-500 w-5 h-5 pl-4"></i>
          {% endif %}
        </div>
        {{ form_widget(editProfileForm.lastName, {
          'attr': {
            'autocomplete': 'family-name',
            'class': 'block border-b border-gray-500 text-gray-500 bg-gray-100 pl-10 py-2 focus:border-yellow-500 focus:shadow-md focus:ring-2 focus:ring-yellow-500 w-full'
          }}) }}
      </div>
    </div>
    <div class="text-red-500 font-bold text-center lg:text-right mb-6">
      {{ form_errors(editProfileForm.lastName) }}
    </div>
    <div class="flex flex-col lg:flex-row mb-4">
      {{ form_label(editProfileForm.username, null, {
        'label_attr': {'class': 'w-2/3 font-jura font-light text-2xl mr-4'
        }}) }}
      <div class="relative mx-auto w-full">
        <div class="absolute inset-y-0 flex items-center pointer-events-none">
          {% if form_errors(editProfileForm.username) %}
            <i class="fas fa-exclamation-circle text-red-500 w-5 h-5 pl-4"></i>
          {% else %}
            <i class="fas fa-user text-gray-500 w-5 h-5 pl-4"></i>
          {% endif %}
        </div>
        {{ form_widget(editProfileForm.username, {
          'attr': {
            'autocomplete': 'username',
            'class': 'block border-b border-gray-500 text-gray-500 bg-gray-100 pl-10 py-2 focus:border-yellow-500 focus:shadow-md focus:ring-2 focus:ring-yellow-500 w-full'
          }}) }}
      </div>
    </div>
    <div class="text-red-500 font-bold text-center lg:text-right mb-6">
      {{ form_errors(editProfileForm.username) }}
    </div>
    <div class="flex flex-col lg:flex-row mb-8">
      {{ form_label(editProfileForm.email, null, {
        'label_attr': {'class': 'w-2/3 font-jura font-light text-2xl mr-4'
        }}) }}
      <div class="relative mx-auto w-full">
        <div class="absolute inset-y-0 flex items-center pointer-events-none">
          {% if form_errors(editProfileForm.email) %}
            <i class="fas fa-exclamation-circle text-red-500 w-5 h-5 pl-4"></i>
          {% else %}
            <i class="fas fa-envelope text-gray-500 w-5 h-5 pl-4"></i>
          {% endif %}
        </div>
        {{ form_widget(editProfileForm.email, {
          'attr': {
            'autocomplete': 'email',
            'class': 'block border-b border-gray-500 text-gray-500 bg-gray-100 pl-10 py-2 focus:border-yellow-500 focus:shadow-md focus:ring-2 focus:ring-yellow-500 w-full'
          }}) }}
      </div>
    </div>
    <div class="text-red-500 font-bold text-center lg:text-right mb-6">
      {{ form_errors(editProfileForm.email) }}
    </div>
    <div class="text-center lg:text-right">
      <button class="inline-block bg-yellow-500 hover:bg-yellow-600 transition duration-500 delay-100 ease-out text-white px-6 py-2 rounded-md"
              type="submit">
        <i class="fas fa-save pr-2"></i>
        Modifier mon profil
      </button>
    </div>
  </div>
</div>
{{ form_end(editProfileForm) }}
