<form method="post">
  {% if app.user %}
    <div class="mb-3">
      <p>
        Vous êtes connecté en tant que : <span class="font-bold">{{ app.user.username }}</span>, <a
                href="{{ path('app_logout') }}">Déconnexion</a>
      </p>
    </div>
  {% endif %}

  <div class="container mx-auto max-w-full mb-4">
    {% if error %}
      <div class="bg-red-500 rounded-md text-white font-bold text-xl text-center mx-6 px-3 py-2">
        <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
      </div>
    {% endif %}
  </div>

  <div class="container mx-auto flex flex-col w-10/12 lg:w-1/4 text-center lg:text-left mb-8">
    <label for="inputUsername"
           class="font-jura font-light text-2xl mb-2"
    >
      Nom d'utilisateur <span class="text-red-500">*</span>
    </label>
    <div class="relative mb-8 mx-auto w-full">
      <div class="absolute inset-y-0 flex items-center pointer-events-none z-10">
        <i class="fas fa-user text-gray-500 w-5 h-5 pl-4"></i>
      </div>
      <input type="text"
             value="{{ last_username }}"
             name="username"
             id="inputUsername"
             class="block border-b border-gray-500 text-gray-500 bg-gray-100 pl-10 py-2 focus:border-yellow-500 focus:shadow-md focus:ring-2 focus:ring-yellow-500 w-full"
             required
             autofocus
      >
    </div>
    <label for="inputPassword"
           class="font-jura font-light text-2xl mb-2"
    >
      Mot de passe <span class="text-red-500">*</span>
    </label>
    <div class="relative mb-4 mx-auto w-full">
      <div class="absolute inset-y-0 flex items-center pointer-events-none z-10">
        <i class="fas fa-key text-gray-500 w-5 h-5 pl-4"></i>
      </div>
      <input type="password"
             name="password"
             id="inputPassword"
             class="block border-b border-gray-500 text-gray-500 bg-gray-100 pl-10 py-2 focus:border-yellow-500 focus:shadow-md focus:ring-2 focus:ring-yellow-500 w-full"
             autocomplete="current-password"
             required
      >
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <div class="text-sm font-light text-gray-500">
      <p>Les champs marqués d'un "*" sont obligatoires</p>
    </div>
  </div>

  <div class="text-center mb-6">
    <a href="{{ path('app_forgot_password_request') }}"
       class="hover:text-yellow-500 transition duration-500 delay-100 ease-out">Mot de passe oublié ?</a>
  </div>

  <div class="text-center">
    <button class="inline-block bg-yellow-500 hover:bg-yellow-600 transition duration-500 delay-100 ease-out text-white px-6 py-2 rounded-md"
            type="submit">
      Connexion
    </button>
  </div>
</form>
