{{ form_start(registrationForm) }}
<div class="container mx-auto flex flex-col w-10/12 lg:w-full lg:px-10 lg:grid lg:grid-cols-2 lg:gap-4 text-center lg:text-left mb-8">
  <div class="text-sm font-light text-gray-500 mb-4">
    <p><i class="fas fa-info-circle pr-2"></i>Tous les champs sont obligatoires</p>
  </div>
  <div class="lg:col-start-1 lg:col-end-2">
    {{ form_label(registrationForm.firstName, null, {
      'label_attr': {'class': 'font-jura font-light text-2xl mb-2'
      }}) }}
    <div class="mb-4">
      <div class="relative mx-auto w-full">
        <div class="absolute inset-y-0 flex items-center pointer-events-none">
          {% if form_errors(registrationForm.firstName) %}
            <i class="fas fa-exclamation-circle text-red-500 w-5 h-5 pl-4"></i>
          {% else %}
            <i class="fas fa-user text-gray-500 w-5 h-5 pl-4"></i>
          {% endif %}
        </div>
        {{ form_widget(registrationForm.firstName, {
          'attr': {
            'autocomplete': 'given-name',
            'class': 'block border-b border-gray-500 text-gray-500 bg-gray-100 pl-10 py-2 focus:border-yellow-500 focus:shadow-md focus:ring-2 focus:ring-yellow-500 w-full'
          }}) }}
        {{ form_errors(registrationForm.firstName, {
          'attr': {
            'class': 'bg-red-500 rounded-md text-white font-bold text-xl mb-6 p-2 text-center'
          }}) }}
      </div>
      <div class="text-red-500 font-bold p-2 text-center lg:text-left">
        {{ form_errors(registrationForm.firstName) }}
      </div>
    </div>
  </div>
  <div class="lg:col-start-2 lg:col-end-3">
    {{ form_label(registrationForm.lastName, null, {
      'label_attr': {'class': 'font-jura font-light text-2xl mb-2'
      }}) }}
    <div class="mb-4">
      <div class="relative mx-auto w-full">
        <div class="absolute inset-y-0 flex items-center pointer-events-none">
          {% if form_errors(registrationForm.lastName) %}
            <i class="fas fa-exclamation-circle text-red-500 w-5 h-5 pl-4"></i>
          {% else %}
            <i class="fas fa-user text-gray-500 w-5 h-5 pl-4"></i>
          {% endif %}
        </div>
        {{ form_widget(registrationForm.lastName, {
          'attr': {
            'autocomplete': 'family-name',
            'class': 'block border-b border-gray-500 text-gray-500 bg-gray-100 pl-10 py-2 focus:border-yellow-500 focus:shadow-md focus:ring-2 focus:ring-yellow-500 w-full'
          }}) }}
      </div>
      <div class="text-red-500 font-bold p-2 text-center lg:text-left">
        {{ form_errors(registrationForm.lastName) }}
      </div>
    </div>
  </div>
  <div class="lg:col-start-1 lg:col-end-3">
    {{ form_label(registrationForm.username, null, {
      'label_attr': {'class': 'font-jura font-light text-2xl mb-2'
      }}) }}
    <div class="mb-4">
      <div class="relative mx-auto w-full">
        <div class="absolute inset-y-0 flex items-center pointer-events-none">
          {% if form_errors(registrationForm.username) %}
            <i class="fas fa-exclamation-circle text-red-500 w-5 h-5 pl-4"></i>
          {% else %}
            <i class="fas fa-user text-gray-500 w-5 h-5 pl-4"></i>
          {% endif %}
        </div>
        {{ form_widget(registrationForm.username, {
          'attr': {
            'autocomplete': 'username',
            'class': 'block border-b border-gray-500 text-gray-500 bg-gray-100 pl-10 py-2 focus:border-yellow-500 focus:shadow-md focus:ring-2 focus:ring-yellow-500 w-full'
          }}) }}
      </div>
      <div class="text-red-500 font-bold p-2 text-center lg:text-left">
        {{ form_errors(registrationForm.username) }}
      </div>
    </div>
  </div>
  <div class="lg:col-start-1 lg:col-end-3">
    {{ form_label(registrationForm.email, null, {
      'label_attr': {'class': 'font-jura font-light text-2xl mb-2'
      }}) }}
    <div class="mb-4">
      <div class="relative mx-auto w-full">
        <div class="absolute inset-y-0 flex items-center pointer-events-none">
          {% if form_errors(registrationForm.email) %}
            <i class="fas fa-exclamation-circle text-red-500 w-5 h-5 pl-4"></i>
          {% else %}
            <i class="fas fa-envelope text-gray-500 w-5 h-5 pl-4"></i>
          {% endif %}
        </div>
        {{ form_widget(registrationForm.email, {
          'attr': {
            'autocomplete': 'email',
            'class': 'block border-b border-gray-500 text-gray-500 bg-gray-100 pl-10 py-2 focus:border-yellow-500 focus:shadow-md focus:ring-2 focus:ring-yellow-500 w-full'
          }}) }}
      </div>
      <div class="text-red-500 font-bold p-2 text-center lg:text-left">
        {{ form_errors(registrationForm.email) }}
      </div>
    </div>
  </div>
  <div class="lg:col-start-1 lg:col-end-3">
    {{ form_label(registrationForm.password.plainPassword.first, null, {
      'label_attr': {'class': 'font-jura font-light text-2xl mb-2'
      }}) }}
    <div class="mb-4">
      <div class="relative mb-1 mx-auto w-full">
        <div class="absolute inset-y-0 flex items-center pointer-events-none">
          <i class="fas fa-key text-gray-500 w-5 h-5 pl-4"></i>
        </div>
        {{ form_widget(registrationForm.password.plainPassword.first, {
          'attr': {
            'autocomplete': 'new-password',
            'class': 'block border-b border-gray-500 text-gray-500 bg-gray-100 pl-10 py-2 focus:border-yellow-500 focus:shadow-md focus:ring-2 focus:ring-yellow-500 w-full'
          }}) }}
      </div>
    </div>
  </div>
  <div class="lg:col-start-1 lg:col-end-3">
    {{ form_label(registrationForm.password.plainPassword.second, null, {
      'label_attr': {'class': 'font-jura font-light text-2xl mb-2'
      }}) }}
    <div class="mb-4">
      <div class="relative mb-1 mx-auto w-full">
        <div class="absolute inset-y-0 flex items-center pointer-events-none">
          {% if form_errors(registrationForm.password.plainPassword.first) %}
            <i class="fas fa-exclamation-circle text-red-500 w-5 h-5 pl-4"></i>
          {% else %}
            <i class="fas fa-key text-gray-500 w-5 h-5 pl-4"></i>
          {% endif %}
        </div>
        {{ form_widget(registrationForm.password.plainPassword.second, {
          'attr': {
            'autocomplete': 'new-password',
            'class': 'block border-b border-gray-500 text-gray-500 bg-gray-100 pl-10 py-2 focus:border-yellow-500 focus:shadow-md focus:ring-2 focus:ring-yellow-500 w-full'
          }}) }}
      </div>
      <div class="text-red-500 font-bold p-2 text-center lg:text-left">
        {{ form_errors(registrationForm.password.plainPassword.first) }}
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <button class="inline-block bg-yellow-500 hover:bg-yellow-600 transition duration-500 delay-100 ease-out text-white px-6 py-2 rounded-md"
          type="submit">
    Inscription
  </button>
</div>
{{ form_end(registrationForm) }}

