{# Override base form label to use custom "label_attributes" block #}
{% block form_label %}
  {% if label is not same as(false) -%}
    {% if not compound -%}
      {% set label_attr = label_attr|merge({'for': id}) %}
    {%- endif -%}
    {% if required -%}
      {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {%- endif -%}
    {% if label is empty -%}
      {%- if label_format is not empty -%}
        {% set label = label_format|replace({
          '%name%': name,
          '%id%': id,
        }) %}
      {%- else -%}
        {% set label = name|humanize %}
      {%- endif -%}
    {%- endif -%}
    <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('label_attributes') }}{% endwith %}{% endif %}>
    {%- if translation_domain is same as(false) -%}
      {%- if label_html is same as(false) -%}
        {{- label -}}
      {%- else -%}
        {{- label|raw -}}
      {%- endif -%}
    {%- else -%}
      {%- if label_html is same as(false) -%}
        {{- label|trans(label_translation_parameters, translation_domain) -}}
      {%- else -%}
        {{- label|trans(label_translation_parameters, translation_domain)|raw -}}
      {%- endif -%}
    {%- endif -%}
    </{{ element|default('label') }}>
  {%- endif -%}
{% endblock %}

{# Label attributes #}
{% block label_attributes %}
  {% set attr = attr|merge({class: (attr.class|default('') ~ ' font-jura font-light block mb-2')|trim}) %}
  {{ block('attributes') }}
{% endblock %}

{# Input attributes #}
{%- block widget_attributes -%}
  id="{{ id }}" name="{{ full_name }}"
  {%- if disabled %} disabled="disabled"{% endif -%}
  {%- if required %} required="required"{% endif -%}
  {% set attr = attr|merge({class: (attr.class|default('') ~ ' block border-b border-gray-500 text-gray-500 bg-gray-100 py-2 focus:border-yellow-500 focus:shadow-md focus:ring-2 focus:ring-yellow-500')|trim}) %}
  {{ block('attributes') }}
{%- endblock widget_attributes -%}

{# Errors #}
{% block form_errors -%}
  {%- if errors|length > 0 -%}
    <div class="text-red-500 font-bold p-2 text-center lg:text-left">
      <ul>
        {%- for error in errors -%}
          <li>{{ error.message }}</li>
        {%- endfor -%}
      </ul>
    </div>
  {%- endif %}
{%- endblock form_errors %}
