<div class="container mx-auto flex flex-col w-10/12 lg:w-full lg:px-10 lg:grid lg:grid-cols-2 lg:gap-4 text-center lg:text-left mb-8">
  <div class="lg:col-start-1 lg:col-end-3 text-sm font-light text-gray-500 mb-4">
    <p><i class="fas fa-info-circle pr-2"></i>Entrez votre adresse email et nous vous enverrons un
      lien pour réinitialiser votre mot de
      passe.</p>
  </div>
  <div class="lg:col-start-1 lg:col-end-3">
    {{ form_start(requestForm) }}
    {{ form_label(requestForm.email, null, {
      'label_attr': {'class': 'text-2xl'
      }}) }}
    <div class="mb-4">
      <div class="relative mx-auto w-full">
        <div class="absolute inset-y-0 flex items-center pointer-events-none">
          {% if form_errors(requestForm.email) %}
            <i class="fas fa-exclamation-circle text-red-500 w-5 h-5 pl-4"></i>
          {% else %}
            <i class="fas fa-envelope text-gray-500 w-5 h-5 pl-4"></i>
          {% endif %}
        </div>
        {{ form_widget(requestForm.email, {
          'attr': {
            'autocomplete': 'email',
            'class': 'w-full pl-10'
          }}) }}
      </div>
      {{ form_errors(requestForm.email) }}
    </div>
  </div>
</div>
<div class="text-center">
  <button class="inline-block bg-yellow-500 hover:bg-yellow-600 transition duration-500 delay-100 ease-out text-white px-6 py-2 rounded-md"
          type="submit"><i class="fas fa-paper-plane pr-2"></i>
    Envoyer l'email
  </button>
</div>
{{ form_end(requestForm) }}

