<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{% block og_title %}{% endblock %}">
    <meta property="og:type" content="{% block og_type %}{% endblock %}">
    <meta property="og:url" content="{% block og_url %}{% endblock %}">
    <meta property="og:image" content="{% block og_image %}{% endblock %}">
    <meta name="title" content="{% block meta_title %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% block title %}{% endblock %} - SnowTricks</title>
    <link rel="shortcut icon" type="image/png" href="{{ asset('build/images/logo.png') }}"/>
    {% block stylesheets %}
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
            rel="stylesheet">
      {{ encore_entry_link_tags('tailwind') }}
    {% endblock %}
  </head>
  <body class="font-sans" id="top">
    <header class="h-10 md:h-16 z-20 sticky top-0">
      {{ include('_parts/_nav.html.twig') }}
    </header>

    <main class="w-full pb-10">
      {% if app.request.hasPreviousSession %}
        {% for message in app.flashes('notice') %}
          <div class="container mx-auto max-w-md max-h-10 text-center px-6 xl:px-0 pt-16 xl:pt-24 fixed inset-0 inset-y-0 xl:right-0 xl:mr-6 z-10">
            <div class="text-white bg-yellow-500 p-4 rounded-2xl shadow-md">
              <p class="text-xl">{{ message }}</p>
            </div>
          </div>
        {% endfor %}
        {% for message in app.flashes('success') %}
          <div class="container mx-auto max-w-md max-h-10 text-center px-6 xl:px-0 pt-16 xl:pt-24 fixed inset-y-0 xl:right-0 xl:mr-6 z-10">
            <div class="text-white bg-green-500 p-4 rounded-2xl shadow-md">
              <p class="text-xl">{{ message }}</p>
            </div>
          </div>
        {% endfor %}
        {% for messages in app.flashes(['verify_email_error', 'error']) %}
          {% for message in messages %}
            <div class="container mx-auto max-w-md max-h-10 text-center px-6 xl:px-0 pt-16 xl:pt-24 fixed inset-y-0 xl:right-0 xl:mr-6 z-10">
              <div class="text-white bg-red-500 p-4 rounded-2xl shadow-md">
                <p class="text-xl">{{ message }}</p>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      {% endif %}

      {% block body %}{% endblock %}
    </main>
    <footer>
      {{ include('_parts/_footer.html.twig') }}
    </footer>

    {% block javascripts %}
      <script src="https://kit.fontawesome.com/f2a6cd36ae.js" crossorigin="anonymous"></script>
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </body>
</html>
