{% extends('base.html.twig') %}

{%- block meta_title -%}
  SnowTricks - Le site communautaire pour apprendre tous les tricks de snowboard
{%- endblock -%}

{%- block meta_description -%}
  Grâce à SnowTricks, apprenez à faire tous les tricks de snowboard. Des vidéos et des images partagées par la communauté SnowTricks.
{%- endblock -%}

{%- block og_title -%}
  SnowTricks - accueil
{%- endblock -%}

{%- block og_type -%}
  website
{%- endblock -%}

{%- block og_url -%}
  {{ app.request.schemeAndHttpHost }}
{%- endblock -%}

{%- block title -%}
  Accueil
{%- endblock -%}


{% block body %}
  <section class="relative bg-yellow-300 overflow-hidden h-screen -mt-16">
    <div class="container max-w-screen-xl mx-auto z-10 relative mt-40 lg:mt-60 px-8 sm:px-0">
      <div class="text-center lg:text-left">
        <h1 class="text-6xl text-yellow-500 font-bold font-jura sm:text-7xl">
          Snow<br><span class="uppercase md:text-9xl">Tricks</span>
        </h1>
        <p class="mt-3 text-gray-800 italic sm:mt-5 sm:text-lg md:mt-5 md:text-2xl lg:mx-0">
          <span class="font-bold uppercase">Le</span> site pour apprendre facilement tous les tricks de snowboard&nbsp;!
        </p>
      </div>
    </div>
    <div class="z-0 absolute inset-0">
      <picture>
        <source media="(max-width:640px)" srcset="{{ asset('build/images/hero_02_vertical.jpg') }}">
        <img src="{{ asset('build/images/hero_02.jpg') }}"
             alt="SnowTricks hero image"
             class="w-full h-full sm:h-auto object-cover"
             width="1920"
             height="1280"
        >
      </picture>
      <a href="#tricks" class="absolute text-center sm:text-right bottom-8 sm:bottom-12 inset-x-0 sm:right-20">
        <i class="fas fa-arrow-circle-down text-yellow-500 text-4xl animate-bounce"></i>
      </a>
    </div>
  </section>
  <section class="mb-20 container max-w-screen-xl mx-auto mt-10 md:mt-20 px-4 lg:px-8 xl:px-0" id="tricks">
    <h2 class="text-3xl md:text-4xl text-center md:text-left mb-10 md:mb-20 uppercase">Les derniers tricks ajoutés</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-4 lg:gap-6">
      <div class="bg-gray-100 rounded-md shadow-lg">
        <img src="{{ asset('build/images/hero.jpg') }}"
             alt=""
             class="object-cover max-w-full rounded-t-md"
             loading="lazy"
             width="600"
             height="400"
        >
        <div class="flex flex-row justify-between items-center p-4">
          <a href="" class="p-2 font-bold">Trick Name</a>
          <div class="ml-auto">
            <i class="fas fa-pen mr-2 text-blue-700 hover:text-blue-800"></i>
            <i class="fas fa-trash-alt text-red-600 hover:text-red-700"></i>
          </div>
        </div>
      </div>
      <div class="bg-gray-100 rounded-md shadow-lg">
        <img src="{{ asset('build/images/hero.jpg') }}"
             alt=""
             class="object-cover max-w-full rounded-t-md"
             loading="lazy"
             width="600"
             height="400"
        >
        <div class="flex flex-row justify-between items-center p-4">
          <a href="" class="p-2 font-bold">Trick Name</a>
          <div class="ml-auto">
            <i class="fas fa-pen mr-2 text-blue-700 hover:text-blue-800"></i>
            <i class="fas fa-trash-alt text-red-600 hover:text-red-700"></i>
          </div>
        </div>
      </div>
      <div class="bg-gray-100 rounded-md shadow-lg">
        <img src="{{ asset('build/images/hero.jpg') }}"
             alt=""
             class="object-cover max-w-full rounded-t-md"
             loading="lazy"
             width="600"
             height="400"
        >
        <div class="flex flex-row justify-between items-center p-4">
          <a href="" class="p-2 font-bold">Trick Name</a>
          <div class="ml-auto">
            <i class="fas fa-pen mr-2 text-blue-700 hover:text-blue-800"></i>
            <i class="fas fa-trash-alt text-red-600 hover:text-red-700"></i>
          </div>
        </div>
      </div>
      <div class="bg-gray-100 rounded-md shadow-lg">
        <img src="{{ asset('build/images/hero.jpg') }}"
             alt=""
             class="object-cover max-w-full rounded-t-md"
             loading="lazy"
             width="600"
             height="400"
        >
        <div class="flex flex-row justify-between items-center p-4">
          <a href="" class="p-2 font-bold">Trick Name</a>
          <div class="ml-auto">
            <i class="fas fa-pen mr-2 text-blue-700 hover:text-blue-800"></i>
            <i class="fas fa-trash-alt text-red-600 hover:text-red-700"></i>
          </div>
        </div>
      </div>
      <div class="bg-gray-100 rounded-md shadow-lg">
        <img src="{{ asset('build/images/hero.jpg') }}"
             alt=""
             class="object-cover max-w-full rounded-t-md"
             loading="lazy"
             width="600"
             height="400"
        >
        <div class="flex flex-row justify-between items-center p-4">
          <a href="" class="p-2 font-bold">Trick Name</a>
          <div class="ml-auto">
            <i class="fas fa-pen mr-2 text-blue-700 hover:text-blue-800"></i>
            <i class="fas fa-trash-alt text-red-600 hover:text-red-700"></i>
          </div>
        </div>
      </div>
      <div class="bg-gray-100 rounded-md shadow-lg">
        <img src="{{ asset('build/images/trick_example.jpg') }}"
             alt=""
             class="object-cover max-w-full rounded-t-md"
             loading="lazy"
             width="600"
             height="400"
        >
        <div class="flex flex-row justify-between items-center p-4">
          <a href="" class="p-2 font-bold">Trick Name</a>
          <div class="ml-auto">
            <i class="fas fa-pen mr-2 text-blue-700 hover:text-blue-800"></i>
            <i class="fas fa-trash-alt text-red-600 hover:text-red-700"></i>
          </div>
        </div>
      </div>
      <div class="bg-gray-100 rounded-md shadow-lg">
        <img src="{{ asset('build/images/trick_example.jpg') }}"
             alt=""
             class="object-cover max-w-full rounded-t-md"
             loading="lazy"
             width="600"
             height="400"
        >
        <div class="flex flex-row justify-between items-center p-4">
          <a href="" class="p-2 font-bold">Trick Name</a>
          <div class="ml-auto">
            <i class="fas fa-pen mr-2 text-blue-700 hover:text-blue-800"></i>
            <i class="fas fa-trash-alt text-red-600 hover:text-red-700"></i>
          </div>
        </div>
      </div>
      <div class="bg-gray-100 rounded-md shadow-lg">
        <img src="{{ asset('build/images/trick_example.jpg') }}"
             alt=""
             class="object-cover max-w-full rounded-t-md"
             loading="lazy"
             width="600"
             height="400"
        >
        <div class="flex flex-row justify-between items-center p-4">
          <a href="" class="p-2 font-bold">Trick Name</a>
          <div class="ml-auto">
            <i class="fas fa-pen mr-2 text-blue-700 hover:text-blue-800"></i>
            <i class="fas fa-trash-alt text-red-600 hover:text-red-700"></i>
          </div>
        </div>
      </div>
      <div class="bg-gray-100 rounded-md shadow-lg">
        <img src="{{ asset('build/images/trick_example.jpg') }}"
             alt=""
             class="object-cover max-w-full rounded-t-md"
             loading="lazy"
             width="600"
             height="400"
        >
        <div class="flex flex-row justify-between items-center p-4">
          <a href="" class="p-2 font-bold">Trick Name</a>
          <div class="ml-auto">
            <i class="fas fa-pen mr-2 text-blue-700 hover:text-blue-800"></i>
            <i class="fas fa-trash-alt text-red-600 hover:text-red-700"></i>
          </div>
        </div>
      </div>
      <div class="bg-gray-100 rounded-md shadow-lg">
        <img src="{{ asset('build/images/trick_example.jpg') }}"
             alt=""
             class="object-cover max-w-full rounded-t-md"
             loading="lazy"
             width="600"
             height="400"
        >
        <div class="flex flex-row justify-between items-center p-4">
          <a href="" class="p-2 font-bold">Trick Name</a>
          <div class="ml-auto">
            <i class="fas fa-pen mr-2 text-blue-700 hover:text-blue-800"></i>
            <i class="fas fa-trash-alt text-red-600 hover:text-red-700"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
