{% for trickMedium in form.tricksMedia %}
  <div class="mb-6">
    {% if form_errors(trickMedium.media.image) or form_errors(trickMedium.media.altText) %}
    {{ form_widget(trickMedium.media.type, {
    'attr': {
    'class': 'hidden'
    }}) }}
    {{ form_label(trickMedium.media.image, null, {
    'label_attr': {'class': 'text-2xl'
    }}) }}
    {{ form_widget(trickMedium.media.image, {
    'attr': {
    'class': 'w-full pl-2 py-3'
    },
    'help_attr': {
    'class': 'text-gray-500 text-sm font-light text-left mt-2 mb-6'
    }}) }}
    {{ form_errors(trickMedium.media.image, {
    'class': 'mb-6'
    }) }}
    {{ form_label(trickMedium.media.altText, null, {
    'label_attr': {'class': 'text-2xl'
    }}) }}
    {{ form_widget(trickMedium.media.altText, {
    'attr': {
    'class': 'w-full pl-2 py-3'
    },
    'help_attr': {
    'class': 'text-gray-500 text-sm font-light text-left mt-2 mb-6'
    }}) }}
    {{ form_errors(trickMedium.media.altText) }}
    {% elseif form_errors(trickMedium.media.url) %}
    {{ form_label(trickMedium.media.url, null, {
    'label_attr': {'class': 'text-2xl'
    }}) }}
    {{ form_widget(trickMedium.media.type, {
    'attr': {
    'class': 'hidden'
    }}) }}
    {{ form_widget(trickMedium.media.url, {
    'label_attr': {'class': 'text-2xl'
    },
    'attr': {
    'class': 'w-full pl-2 py-3'
    },
    'help_attr': {
    'class': 'text-gray-500 text-sm font-light text-left mt-2 mb-6'
    }}) }}
    {{ form_errors(trickMedium.media.url) }}
    {% endif %}
  </div>
{% endfor %}
<!--      Avoid rendering label for medias with form_rest()-->
{{ form_widget(form.tricksMedia) }}
